<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>		
		<typeAlias type="org.kh.dajob.member.model.vo.Member" alias="Member" />
		<typeAlias type="org.kh.dajob.member.model.vo.User" alias="User" />
		<typeAlias type="org.kh.dajob.member.model.vo.Company" alias="Company" />
		<typeAlias type="org.kh.dajob.member.model.vo.CompanyType" alias="CompanyType" />
		<typeAlias type="org.kh.dajob.cert.model.vo.Cert" alias="Cert" />
		<typeAlias type="org.kh.dajob.cert.model.vo.UserCert" alias="UserCert" />
		<!-- <typeAlias type="org.kh.dajob.cert.model.vo.TotalCert" alias="TotalCert"/>
		<typeAlias type="org.kh.dajob.cert.model.vo.CountCert" alias="CountCert"/> -->
		<typeAlias type="org.kh.dajob.interview.model.vo.Interview" alias="Interview" />		
		<typeAlias type="org.kh.dajob.workboard.model.vo.WorkBoard" alias="WorkBoard" />
		<!-- <typeAlias type="org.kh.dajob.workboard.model.vo.LikeList" alias="LikeList" /> -->
		<typeAlias type="org.kh.dajob.powerlink.model.vo.PowerLink" alias="PowerLink" />
		<typeAlias type="org.kh.dajob.notice.model.vo.Notice" alias="Notice" />
		<typeAlias type="org.kh.dajob.notice.model.vo.NoticeReply" alias="NoticeReply" />
		<typeAlias type="org.kh.dajob.itinfo.model.vo.Itinfo" alias="Itinfo" />
	</typeAliases>
	
	<!-- <environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe" />
				<property name="username" value="dajob" />
				<property name="password" value="dajob1710" />
			</dataSource>
		</environment>
	</environments> -->
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/user-mapper.xml" />
		<mapper resource="mappers/company-mapper.xml" />
		<mapper resource="mappers/cert-mapper.xml" />
		<mapper resource="mappers/workboard-mapper.xml" />
		<mapper resource="mappers/powerlink-mapper.xml" />
		<mapper resource="mappers/interview-mapper.xml" />
		<mapper resource="mappers/notice-mapper.xml" />
		<mapper resource="mappers/itinfo-mapper.xml" />
	</mappers>
</configuration>