<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Cert">

	<resultMap id="resultCert" type="Cert">
		<id property="cert_no" column="CERT_NO" />
		<result property="cert_name" column="CERT_NAME" />
		<result property="cert_type" column="CERT_TYPE" />
		<result property="cert_value" column="CERT_VALUE" />
	</resultMap>
	
	<resultMap id="resultUserCert" type="UserCert">
		<result property="member_id" column="MEMBER_ID" />
		<result property="cert_no" column="CERT_NO" />
		<result property="cert_date" column="CERT_DATE" />
	</resultMap>
	
	<resultMap id="resultTotalCert" type="TotalCert">
		<id property="cert_no" column="CERT_NO" />
		<result property="cert_name" column="CERT_NAME" />
		<result property="cert_type" column="CERT_TYPE" />
		<result property="member_id" column="MEMBER_ID" />
		<result property="cert_date" column="CERT_DATE" />
		<result property="cert_value" column="CERT_VALUE" />
	</resultMap>
	
	<resultMap id="resultCountCert" type="CountCert">
		<result property="cert_value" column="CERT_VALUE" />
		<result property="cert_count" column="CERT_COUNT" />
	</resultMap>
	
	<select id="selectList" resultType="arraylist" resultMap="resultCert">
		SELECT * FROM CERT
	</select>
	
	<select id="recommendCert" parameterType="string" resultType="arraylist" resultMap="resultTotalCert">
		SELECT * FROM CERT WHERE CERT_NO NOT IN (SELECT CERT_NO FROM USER_CERT WHERE MEMBER_ID = #{member_id})	
	</select>
	
	<select id="selectUserCert" parameterType="string" resultType="arraylist" resultMap="resultUserCert">
		SELECT * FROM USER_CERT WHERE MEMBER_ID = #{member_id}
	</select>
	
	<select id="selectTotalCert" parameterType="string" resultType="arraylist" resultMap="resultTotalCert">
		SELECT * FROM VW_TOTALCERT WHERE MEMBER_ID = #{member_id}
	</select>
	
	<select id="selectCountCert" parameterType="string" resultType="arraylist" resultMap="resultCountCert">
		SELECT DECODE(GROUPING(CERT_TYPE),'1','총합',CERT_TYPE) "CERT_VALUE", COUNT(CERT_TYPE) "CERT_COUNT" FROM VW_TOTALCERT
		WHERE MEMBER_ID = #{member_id}
		GROUP BY ROLLUP(CERT_TYPE)
		ORDER BY CERT_COUNT DESC
	</select>
	
	<insert id="insertUserCert" parameterType="hashmap">
		INSERT ALL
		<foreach item="userCert" index="index" collection="cert_no" open="" separator=" " close="">
 			INTO USER_CERT(MEMBER_ID, CERT_NO, CERT_DATE) VALUES (#{userCert.member_id}, #{userCert.cert_no}, #{userCert.cert_date})
		</foreach>
 		SELECT * FROM DUAL
	</insert>
	
	<delete id="deleteUserCert" parameterType="string">
		DELETE FROM USER_CERT WHERE MEMBER_ID = #{member_id}
	</delete>
	
</mapper>
