<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Company">

	<resultMap id="resultCompany" type="Company">
		<id property="member_id" column="MEMBER_ID" />
		<result property="member_password" column="MEMBER_PASSWORD" />
		<result property="member_type_code" column="MEMBER_TYPE_CODE" />
		<result property="member_name" column="MEMBER_NAME" />
		<result property="member_email" column="MEMBER_EMAIL" />
		<result property="member_phone" column="MEMBER_PHONE" />
		<result property="member_address" column="MEMBER_ADDRESS" />
		<result property="member_sign_date" column="MEMBER_SIGN_DATE" />
		<result property="member_profile_img" column="MEMBER_PROFILE_IMG" />
		<result property="company_name" column="COMPANY_NAME" />
		<result property="company_type" column="COMPANY_TYPE" />
		<result property="company_staff" column="COMPANY_STAFF" />
		<result property="company_capital" column="COMPANY_CAPITAL" />
		<result property="company_code" column="COMPANY_CODE" />
		<result property="company_tel" column="COMPANY_TEL" />
		<result property="company_fax" column="COMPANY_FAX" />
		<result property="company_welfare" column="COMPANY_WELFARE" />
		<result property="company_date" column="COMPANY_DATE" />
	</resultMap>
	
	<resultMap id="resultComType" type="CompanyType">
		<result property="company_type" column="COMPANY_TYPE" />
		<result property="company_tname" column="COMPANY_TNAME" />
	</resultMap>
	
	<select id="selectCompany" parameterType="Member" resultType="Company"
		resultMap="resultCompany">
		SELECT * FROM VW_COMPANY WHERE MEMBER_ID = #{member_id} AND MEMBER_PASSWORD = #{member_password}
	</select>
	
	<select id="selectComType" resultType="arraylist" resultMap="resultComType">
		SELECT * FROM COMP_TYPE
	</select>
	
	<select id="selectPowerLinkComp" resultType="arraylist" resultMap="resultCompany">
		SELECT * FROM VW_COMPANY WHERE MEMBER_ID IN (SELECT MEMBER_ID FROM POWERLINK WHERE POWERLINK_TIME > 0)
	</select>
	
	<insert id="insertCompany" parameterType="Company" flushCache="true"
		statementType="PREPARED" keyProperty="" keyColumn="" useGeneratedKeys="true"
		timeout="20">
		INSERT INTO MEMBER_COMPANY VALUES(#{member_id}, #{company_name}, #{company_type}, #{company_staff},
		 #{company_capital}, #{company_code}, #{company_tel}, #{company_fax}, #{company_welfare}, #{company_date})
	</insert>
		
	<update id="updateCompany" parameterType="Company" flushCache="true"
		statementType="PREPARED" timeout="20">
		UPDATE MEMBER_COMPANY SET COMPANY_NAME = #{company_name}, COMPANY_TYPE = #{company_type}, company_staff = #{COMPANY_STAFF},
		COMPANY_CAPITAL = #{company_capital}, COMPANY_CODE = #{company_code},COMPANY_TEL = #{company_tel},
		COMPANY_FAX = #{company_fax}, COMPANY_WELFARE = #{company_welfare}, COMPANY_DATE = #{company_date} WHERE MEMBER_ID = #{member_id}
	</update>

</mapper>
