<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DashBoard">

	<resultMap id="DashBoardMon" type="DashBoard">
		<result property="year" column="YEAR" />
		<result property="mon" column="MON" />
		<result property="mon_profit" column="MON_PROFIT" />
	</resultMap>
	<resultMap id="DashBoardArea" type="DashBoard">
		<result property="area" column="AREA" />
		<result property="count" column="COUNT" />
	</resultMap>
	<resultMap id="DashBoardMon2" type="DashBoard">
		<result property="year" column="YEAR" />
		<result property="mon" column="MON" />
		<result property="mon_count" column="MON_COUNT" />
	</resultMap>
	
	<!-- 월별 수익 -->
	<select id="selectList" resultType="arraylist" resultMap="DashBoardMon">
		SELECT * FROM VW_DASHBOARD
	</select>
	<!-- 총 수익 -->
	<select id="totalProfit" resultType="_int">
		SELECT SUM(POWERLINK_CNT) * 600000 "TOT_PROFIT" FROM POWERLINK
	</select>
	<!-- 지역별 구인정보 개수 -->
	<select id="areaTop5" resultType="arraylist" resultMap="DashBoardArea">
		<![CDATA[
		SELECT * FROM 
		(SELECT NVL(SUBSTR(WORK_WORKPLACE, 1, 2), '합계') "AREA", COUNT(WORK_WORKPLACE) "AREA_COUNT" 
		FROM WORK_BOARD 
		GROUP BY ROLLUP(SUBSTR(WORK_WORKPLACE, 1, 2)) 
		ORDER BY 2 DESC) 
		WHERE ROWNUM < 7 ORDER BY CASE WHEN "AREA" = '합계' THEN 1 ELSE 0 END, 2 DESC
		]]>
	</select>
	<!-- 월별 구인정보 등록 횟수 -->
	<select id="monTop5" resultType="arraylist" resultMap="DashBoardMon2">
		SELECT SUBSTR(WORK_DATE, 1, 2) "YEAR", NVL(SUBSTR(WORK_DATE, 4, 2), '합계') "MON", 
		COUNT(*) "MON_COUNT", SUM(COUNT(*)) OVER(ORDER BY SUBSTR(WORK_DATE, 4, 2)) "COUNT_SUM" 
		FROM WORK_BOARD 
		GROUP BY SUBSTR(WORK_DATE, 1, 2), ROLLUP(SUBSTR(WORK_DATE, 4, 2)) 
		ORDER BY 1 DESC, 2
	</select>
	
</mapper>
