<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Interview">

	<resultMap id="resultInterview" type="Interview">
		<id property="interview_no" column="INTERVIEW_NO" />
		<result property="interviewer" column="INTERVIEWER" />
		<result property="interviewee" column="INTERVIEWEE" />
		<result property="interview_question" column="INTERVIEW_QUESTION" />
		<result property="interview_answer" column="INTERVIEW_ANSWER" />
		<result property="interview_start_date" column="INTERVIEW_START_DATE" />
		<result property="interview_end_date" column="INTERVIEW_END_DATE" />
		<result property="interview_status" column="INTERVIEW_STATUS" />
		<result property="work_no" column="WORK_NO" />
       <result property="member_id" column="MEMBER_ID" />
		<result property="company_name" column="COMPANY_NAME" />
		<result property="company_type" column="COMPANY_TYPE" />
		<result property="company_staff" column="COMPANY_STAFF" />
		<result property="company_capital" column="COMPANY_CAPITAL" />
		<result property="company_code" column="COMPANY_CODE" />
		<result property="company_tel" column="COMPANY_TEL" />
		<result property="company_fax" column="COMPANY_FAX" />
		<result property="company_welfare" column="COMPANY_WELFARE" />
		<result property="company_date" column="COMPANY_DATE" />
	</resultMap>
	
	
	<select id="selectInterviewList" resultType="arraylist" resultMap="resultInterview">
		SELECT * FROM VW_INTERVIEW 
	</select>
	
	<select id="selectInterviewerList" parameterType="string" resultType="arraylist" resultMap="resultInterview">
		SELECT * FROM VW_INTERVIEW WHERE INTERVIEWER = #{member_id}
	</select>
	
	<select id="selectIntervieweeList" parameterType="string" resultType="arraylist" resultMap="resultInterview">
		SELECT * FROM VW_INTERVIEW WHERE INTERVIEWEE = #{member_id}
	</select>
	
	<select id="selectInterview" parameterType="string" resultType="Interview" resultMap="resultInterview">
		SELECT * FROM VW_INTERVIEW WHERE INTERVIEW_NO = #{interview_no}
	</select>
	
	<insert id="insertInterview" parameterType="Interview">
		INSERT INTO INTERVIEW VALUES('IN'||TO_CHAR(SYSDATE,'RRMMDDHH24MI')||LPAD(SEQ_INTERVIEW.NEXTVAL,2,'0'),#{interviewer},#{interviewee},NULL,NULL,#{interview_start_date},#{interview_end_date},'H',#{work_no})
	</insert>
	
	<update id="updateInterview" parameterType="Interview">
		UPDATE INTERVIEW SET INTERVIEW_QUESTION = #{interview_question}, INTERVIEW_START_DATE = #{interview_start_date},
		INTERVIEW_END_DATE = #{interview_end_date}, INTERVIEW_STATUS = #{interview_status}
		WHERE INTERVIEW_NO = #{interview_no}
	</update>
	
	<delete id="deleteInterview" parameterType="string">
		DELETE FROM INTERVIEW WHERE INTERVIEW_NO = #{interview_no}
	</delete>
	
</mapper>