<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Interview">

	<resultMap id="resultInterview" type="Interview">
		<id property="interview_no" column="INTERVIEW_NO" />
		<result property="interviewer" column="INTERVIEWER" />
		<result property="interviewee" column="INTERVIEWEE" />
		<result property="interview_question" column="INTERVIEW_QUESTION" />
		<result property="interview_answer" column="INTERVIEW_ANSWER" />
		<result property="interview_date" column="INTERVIEW_DATE" />
		<result property="interview_status" column="INTERVIEW_STATUS" />
		<result property="work_no" column="WORK_NO" />
	</resultMap>
	
	<select id="selectInterviewList" resultType="arraylist" resultMap="resultInterview">
		SELECT * FROM INTERVIEW 
	</select>
	
	<select id="selectInterviewerList" parameterType="string" resultType="arraylist" resultMap="resultInterview">
		SELECT * FROM INTERVIEW WHERE INTERVIEWER = #{member_id}
	</select>
	
	<select id="selectIntervieweeList" parameterType="string" resultType="arraylist" resultMap="resultInterview">
		SELECT * FROM INTERVIEW WHERE INTERVIEWEE = #{member_id}
	</select>
	
	<select id="selectInterview" parameterType="string" resultType="Interview" resultMap="resultInterview">
		SELECT * FROM INTERVIEW WHERE INTERVIEW_NO = #{interviewNo}
	</select>
	
	<insert id="insertInterview" parameterType="Interview">
		INSERT INTO INTERVIEW VALUES(#{interview_no},#{interviewer},#{interviewee},#{interview_question},#{interview_answer},#{interview_date},#{interview_status},#{work_no})
	</insert>
	
	<delete id="deleteInterview" parameterType="string">
		DELETE FROM INTERVIEW WHERE INTERVIEW_NO = #{interview_no}
	</delete>
	
	<update id="updateInterview" parameterType="string">
		UPDATE INTERVIEW SET INTERVIEWER = #{interviewer}, INTERVIEWEE = #{interviewee}, INTERVIEW_QUESTION = #{interview_question}, INTERVIEW_ANSWER = #{interview_answer}, INTERVIEW_DATE = #{interview_date}, INTERVIEW_STATUS = #{interview_status}, WORK_NO = #{work_no}
	</update>

</mapper>
