<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">

	<resultMap id="resultMember" type="Member">
		<id property="member_id" column="MEMBER_ID" />
		<result property="member_password" column="MEMBER_PASSWORD" />
		<result property="member_type_code" column="MEMBER_TYPE_CODE" />
		<result property="member_name" column="MEMBER_NAME" />
		<result property="member_email" column="MEMBER_EMAIL" />
		<result property="member_phone" column="MEMBER_PHONE" />
		<result property="member_address" column="MEMBER_ADDRESS" />
		<result property="member_sign_date" column="MEMBER_SIGN_DATE" />
		<result property="member_profile_img" column="MEMBER_PROFILE_IMG" />
	</resultMap>
	
	<select id="selectMember" parameterType="Member" resultType="Member"
		resultMap="resultMember">
		SELECT * FROM MEMBER WHERE MEMBER_ID = #{member_id} AND MEMBER_PASSWORD = #{member_password}
	</select>
	
	<select id="selectMemberAll" resultType="arraylist" resultMap="resultMember">
		SELECT * FROM MEMBER
	</select>
	
	<select id="checkDupId" parameterType="string" resultType="_int">
		<!-- config의 typeAlias -->
		SELECT COUNT(*) FROM MEMBER WHERE MEMBER_ID = #{userid}
		<!-- #{field}는 pstmt의 ?의 역할, 세미콜론 안찍어요~ -->
	</select>
	
	<insert id="insertMember" parameterType="Member" flushCache="true"
		statementType="PREPARED" keyProperty="" keyColumn="" useGeneratedKeys="true"
		timeout="20">
		INSERT INTO MEMBER VALUES(#{member_id}, #{member_password}, #{member_type_code}, #{member_name},
		 #{member_email}, #{member_phone}, #{member_address}, SYSDATE, #{member_profile_img})
	</insert>

	<update id="updateMember" parameterType="Member" flushCache="true"
		statementType="PREPARED" timeout="20">
		UPDATE MEMBER SET MEMBER_PASSWORD = #{member_password}, MEMBER_EMAIL = #{member_email},
		MEMBER_PHONE = #{member_phone}, MEMBER_ADDRESS = #{member_address},
		MEMBER_PROFILE_IMG = #{member_profile_img} WHERE MEMBER_ID = #{member_id}
	</update>

	<delete id="deleteMember" parameterType="string" flushCache="true"
		statementType="PREPARED" timeout="20">
		DELETE FROM MEMBER WHERE MEMBER_ID = #{userid}
	</delete>
</mapper>
