<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User">

	<resultMap id="resultUser" type="User">
		<id property="member_id" column="MEMBER_ID" />
		<result property="member_password" column="MEMBER_PASSWORD" />
		<result property="member_type_code" column="MEMBER_TYPE_CODE" />
		<result property="member_name" column="MEMBER_NAME" />
		<result property="member_email" column="MEMBER_EMAIL" />
		<result property="member_phone" column="MEMBER_PHONE" />
		<result property="member_address" column="MEMBER_ADDRESS" />
		<result property="member_sign_date" column="MEMBER_SIGN_DATE" />
		<result property="member_profile_img" column="MEMBER_PROFILE_IMG" />
		<result property="gender" column="GENDER" />
		<result property="birthday" column="BIRTHDAY" />
		<result property="resume_data" column="RESUME_DATA" />
		<result property="resumefile1" column="RESUMEFILE1" />
		<result property="resumefile2" column="RESUMEFILE2" />
		<result property="resumefile3" column="RESUMEFILE3" />
	</resultMap>
	
	<select id="selectUser" parameterType="Member" resultType="User"
		resultMap="resultUser">
		SELECT * FROM VW_USER WHERE MEMBER_ID = #{member_id} AND MEMBER_PASSWORD = #{member_password}
	</select>
	
	<select id="selectUserResume" parameterType="string" resultType="User"
		resultMap="resultUser">
		SELECT * FROM VW_USER WHERE MEMBER_ID = #{member_id}
	</select>
	
	<insert id="insertUser" parameterType="User" flushCache="true"
		statementType="PREPARED" keyProperty="" keyColumn="" useGeneratedKeys="true"
		timeout="20">
		INSERT INTO MEMBER_USER VALUES(#{member_id}, #{gender}, #{birthday}, #{resume_data}, #{resumefile1})
	</insert>

	<update id="updateMember" parameterType="User" flushCache="true"
		statementType="PREPARED" timeout="20">
		UPDATE MEMBER SET GENDER = #{gender}, BIRTHDAY = #{birthday}, RESUME_DATA = #{resume_data},
		RESUMEFILE1 = #{resumefile1} WHERE MEMBER_ID = #{member_id}
	</update>
	
	<update id="insertResumeData" parameterType="User">
		update member_user set resume_data = #{resume_data} where member_id = #{member_id}
	</update>
	
	<update id="updateResumeFiles" parameterType="User">
		update member_user set resumefile1 = #{resumefile1}, resumefile2 = #{resumefile2}, resumefile3 = #{resumefile3} where member_id = #{member_id}
	</update>
	
	<update id="deleteFile1" parameterType="User">
		update member_user set resumefile1 = null where member_id = #{member_id}
	</update>
	
	<update id="deleteFile2" parameterType="User">
		update member_user set resumefile2 = null where member_id = #{member_id}
	</update>
	
	<update id="deleteFile3" parameterType="User">
		update member_user set resumefile3 = null where member_id = #{member_id}
	</update>
	
</mapper>
