<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Workhere">

	<resultMap id="resultWorkhere" type="Workhere">
		<id property="work_no" column="WORK_NO" />
		<result property="work_title" column="WORK_TITLE" />
		<result property="work_content" column="WORK_CONTENT" />
		<result property="work_writer" column="WORK_WRITER" />
		<result property="work_date" column="WORK_DATE" />
		<result property="work_job" column="WORK_JOB" />
		<result property="work_skill" column="WORK_SKILL" />
		<result property="work_career" column="WORK_CAREER" />
		<result property="work_workplace" column="WORK_WORKPLACE" />
		<result property="work_startdate" column="WORK_STARTDATE" />
		<result property="work_enddate" column="WORK_ENDDATE" />
		
		<result property="member_id" column="MEMBER_ID" />
		<result property="company_name" column="COMPANY_NAME" />
		<result property="company_type" column="COMPANY_TYPE" />
		<result property="company_staff" column="COMPANY_STAFF" />
		<result property="company_capital" column="COMPANY_CAPITAL" />
		<result property="company_code" column="COMPANY_CODE" />
		<result property="company_tel" column="COMPANY_TEL" />
		<result property="company_fax" column="COMPANY_FAX" />
		<result property="company_welfare" column="COMPANY_WELFARE" />
		<result property="company_start_date" column="COMPANY_START_DATE" />
		<result property="company_end_date" column="COMPANY_END_DATE" />
	</resultMap>
	
	<select id="selectWorkhereList" resultType="arraylist" resultMap="resultWorkhere">
		select * FROM VW_WORKHERE
	</select>
	
	<select id="selectPowerLinkList" resultType="arraylist" resultMap="resultWorkhere">
		select * FROM VW_WORKHERE WHERE MEMBER_ID IN (SELECT MEMBER_ID FROM POWERLINK WHERE POWERLINK_TIME > 0)
	</select>
	
	<select id="selectJobSearchList" parameterType="Workhere" resultType="arraylist" resultMap="resultWorkhere">
		select * FROM VW_WORKHERE
		<where>
		<if test="work_title != null">
		WORK_TITLE LIKE '%'|| #{work_title} ||'%'
		</if>
		<if test="work_job != null">
		AND WORK_JOB = #{work_job}
		</if>
		<if test="work_skill != null">
		AND WORK_SKILL = #{work_skill}
		</if>
		</where>
	</select>
	
	<select id="selectWorkhere" parameterType="string" resultType="Workhere" resultMap="resultWorkhere">
		select * FROM VW_WORKHERE where work_no = #{WORK_NO}
	</select>
	
	<select id="selectTopPowerLink" resultType="arraylist" resultMap="resultWorkhere">
		SELECT * FROM VW_WORKHERE
		WHERE WORK_WRITER IN (SELECT MEMBER_ID FROM POWERLINK WHERE POWERLINK_TIME > 0)
		ORDER BY 1 DESC
	</select>
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM VW_WORKHERE
	</select>
	
	<delete id="deleteWorkhere" parameterType="string">
		DELETE FROM VW_WORKHERE WHERE WORK_NO = #{work_no}
	</delete>
	
	<update id="updateWorkhere" parameterType="Workhere">
		UPDATE WORK_BOARD SET WORK_TITLE = #{work_title}, WORK_CONTENT = #{work_content},
		WORK_JOB = #{work_job}, WORK_SKILL = #{work_skill}, WORK_CAREER = #{work_career},
		WORK_WORKPLACE = #{work_workplace}, WORK_STARTDATE = #{work_startdate}, WORK_ENDDATE = #{work_enddate}
		WHERE WORK_NO = #{work_no}
	</update>
	
</mapper>
