<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Workhere">

	<resultMap id="resultWorkhere" type="Workhere">
		<id property="work_no" column="WORK_NO" />
		<result property="work_title" column="WORK_TITLE" />
		<result property="work_content" column="WORK_CONTENT" />
		<result property="work_writer" column="WORK_WRITER" />
		<result property="work_date" column="WORK_DATE" />
		<result property="work_job" column="WORK_JOB" />
		<result property="work_skill" column="WORK_SKILL" />
		<result property="work_career" column="WORK_CAREER" />
		<result property="work_workplace" column="WORK_WORKPLACE" />
		<result property="work_startdate" column="WORK_STARTDATE" />
		<result property="work_enddate" column="WORK_ENDDATE" />
		
		<result property="member_id" column="MEMBER_ID" />
		<result property="company_name" column="COMPANY_NAME" />
		<result property="company_type" column="COMPANY_TYPE" />
		<result property="company_staff" column="COMPANY_STAFF" />
		<result property="company_capital" column="COMPANY_CAPITAL" />
		<result property="company_code" column="COMPANY_CODE" />
		<result property="company_tel" column="COMPANY_TEL" />
		<result property="company_fax" column="COMPANY_FAX" />
		<result property="company_welfare" column="COMPANY_WELFARE" />
		<result property="company_start_date" column="COMPANY_START_DATE" />
		<result property="company_end_date" column="COMPANY_END_DATE" />
		
	</resultMap>
	
	
	<select id="selectWorkhereList" resultType="arraylist" resultMap="resultWorkhere">
		select * FROM VW_WORKHERE
	</select>
	
	<select id="selectWorkhere" parameterType="string" resultType="Workhere" resultMap="resultWorkhere">
		select * FROM VW_WORKHERE where work_no = #{WORK_NO}
	</select>
	
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM VW_WORKHERE
	</select>
	<delete id="deleteWorkhere" parameterType="string">
		DELETE FROM VW_WORKHERE WHERE WORK_NO = #{work_no}
	</delete>
</mapper>
